* {margin: 0; padding: 0}

input:focus, input:active {
	outline: none;
}

.formUser {
	height: 700px;
    background-color: #cecece;
    width: 90%;
    margin: 50px auto;
    border: 3px solid #a9a2a2;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

form {
	position: absolute;
	top: 10px;
	left: 5px;
	width: 380px;
	text-align: center;
}

form input {
	width: 380px;
	margin: 10px;
	line-height: 20px;
	font-size: 20px;
}

form input[type='submit'] {
	background-color: silver;
	font-weight: bold;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

form input[type='submit']:hover {
	background-color: rgba(0,0,0,0.4);
}

#dragBar {
	position: absolute;
	left: 420px;
	top: 12px;
    height: 670px;
    padding: 0px 1px;
    background-color: rgba(0,0,0,0.2);
}

#content {
	position: absolute;
	top: 12px;
	left: 450px;
    width: 65%;
    height: 93%;
    border: 1px solid #a9a2a2;
    border-radius: 5px;
}

#tableData {
	border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#tableData thead {
  text-align: left;
  background-color: #a6a7a6;
  color: white;
}

#tableData tbody {
	height: 300px;
}

#tableData tbody tr {
	cursor: pointer;
}

#tableData th, #tableData td {
	border: 1px solid #ddd;
	padding: 6px;
}

#tableData tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

#tableData tbody tr:hover {
	background-color: #ddd;
}
